body{
    display:flex;
    flex-direction: column;
}
.header,.footer{
    display:flex;
    background-color:darkgreen;
    align-items: center;
    height: 90px;
    color:white;
    padding-left:30px;
    padding-right:30px;
}
.header{
    justify-content: space-between;
}
.footer{
    justify-content: center;
}
a{
    text-decoration:none;
    color: white;
    font-size: 25px;
}
ul{
    list-style:none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.firstcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 40px;
    flex:1 1 auto;
    background-color:lightgoldenrodyellow;
}
img{
    width: 40%;
    margin-right: 150px;
}
.secondcontent{
display: flex;
flex-direction: column;
text-align: center;
flex:1 1 auto;
background-color: lightblue;
padding-left: 200px;
padding-right: 200px;
padding-top: 50px;
padding-bottom: 50px;
}
.thirdcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 40px;
    padding-left: 300px;
    padding-right: 300px;
    background-color: lightskyblue
}
.fourthcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    margin-bottom:50px;
    margin-left: 200px;
    margin-right:200px;
    background-color: green;
    font-size: 30px;
    padding: 40px;
}
.logo{
    font-size:45px;
    font:400;
}
.words{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-size: 25px;
}
button{
    width: 200px;
    height: 50px;
}
.secondcontent img{
    width: 250px;
    height: 200px;
    margin-right: 70px;
}
.words{
    flex-shrink:0;
}